body{
    background-color: #dedede;
    margin: 10px;
}

h1{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

p{
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

figure{
    border: 5px solid blue;
    padding: 10px;
    background-color: white;
}

figure img{
    width: 100%;
}

figcaption{
    text-align: center;
    font-size: 20px;
}

/* Tablet View */
@media screen and (min-width: 772px){

    .grid{
        grid-template-columns: 1fr 1fr;
    }

    figure{
        border-radius: 50%;
    }

    figure:last-child{
        grid-column: 1 / span 2;
    }
}

/* Large Screen View */
@media screen and (min-width: 992px){

    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }

    figure{
        border-radius: 0;
    }

    figure:nth-child(3n){
        grid-column: span 2;
    }
}

/* Reduced Motion */
@media (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark){

    figure{
        background-color: #333;
        color: #ffff99;
        border-color: black;
    }

    body{
        background-color: #111;
        color: white;
    }
}
